/*html {
	font-size: 62.5%; 1 rem = 10 px
}

body * {
	font-size: 1.6rem;
} */

#root {
	width: 100%;
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
